/**
 *****************************************
 * Created by lifx
 * Created on 2018-03-29 23:35:24
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 定义盒子模型
 *****************************************
 */
.box {
    $size: 10px;
    display: block;
    width: $size;
    height: $size;
    transform: rotate(45deg);
    background: linear-gradient(0deg, red, orange);
    box-shadow: 0 0 3px 1px rgba(red, .3);
}
